* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-principal: #00C853;
    --verde-escuro: #14532D;
    --verde-medio: #22C55E;
    --verde-claro: #A7F3D0;
    --fundo-suave: #e9ffef;
    --cinza-escuro: #212121;
    --branco: #ffffff;
    --preto-suave: #333333;

    --font-titulos: 'montserrat', sans-serif;
    --font-textos: 'open sans', sans-serif;
}

body {
    font-family: var(--font-textos);
    background-color: var(--branco);
    color: var(--preto-suave);
    margin-top: 65px;
}

#cabecalho {
    background-color: var(--verde-principal);
    color: var(--branco);
    padding: 10px 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.251);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#container-logo-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: var(--branco);
    border-radius: 50%;
}

#marca-container {
    display: flex;
    flex-direction: row;
}

#marca {
    font-size: 1.8rem;
}

#logo-nav {
    width: 50px;
    height: auto;
}

.link-nav {
    color: var(--branco);
    text-decoration: none;
    font-weight: 550;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
    flex-wrap: wrap;
    margin-right: 50px;
}

.navbar li {
    transition: transform .2s;
}

.navbar li:hover {
    transform: translateY(1px);
}

.navbar li:active {
    text-decoration: underline;
}

#btn-carrinho {
    margin-left: 60px;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #FFFF00;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.248);
    transition: transform .2s ease, box-shadow .2s ease;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1;
}

#btn-carrinho:hover {
    transform: scale(1.1);
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.495);
}

#carrinho_icon {
    display: inline-block;
}

@keyframes carrinhoSaindo {
    0% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(200px);
        opacity: 0;
    }

    60% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
}

#carrinho_icon.ativo {
    animation: carrinhoSaindo 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-hamburguer-content {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0px, 0px);
    width: 100%;
    padding: 20px;
    background-color: var(--verde-principal);
    display: none;
    transition: transform 1s ease;
}

.menu-hamburguer-content.ativo {
    display: block;
    transform: translateY(65px);
}

.menu-hamburguer-content ul {
    gap: 50px;
}

#menu-hamburguer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 15px;
    cursor: pointer;
    margin-left: auto;
    display: none;
}

.bars{
    width: 30px;
    height: 4px;
    background-color: var(--branco);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.434);
    z-index: 10;
    pointer-events: none;
    transition: opacity .3s ease;
    opacity: 0;
}

#overlay.ativo {
    pointer-events: all;
    opacity: 1;
}

/*PARTE DO HERO*/

.hero {
    background-color: var(--cinza-escuro);
    padding: 30px;
    display: flex;
    height: 70vh;
}

.hero-content {
    color: var(--branco);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#hero_text_energyMax {
    color: var(--verde-principal);
}

.hero-content p {
    font-size: 1.2rem;
}

.cta-comprar {
    border: none;
    background-color: var(--verde-principal);
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: auto;
    display: block;
    text-decoration: none;
    color: var(--branco);
    text-align: center;
    font-weight: 700;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.253);
    transition: background-color .3s ease;
}

.cta-comprar:hover {
    background-color: #009940;
}

.hero-image {
    margin-left: auto;
}

/*Produtos*/

#produtos_section {
    background: linear-gradient(180deg, var(--fundo-suave) 0%, #ffffff 100%);
    color: var(--preto-suave);
    padding: 80px 20px;
    text-align: center;
}

.section-title h2 {
    font-family: var(--font-titulos);
    font-size: 2rem;
    color: var(--verde-escuro);
    margin-bottom: 10px;
}

.section-title p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 40px;
}

#produtos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px;
    justify-items: center;
    background: none;
    padding: 20px;
}

.card-produto {
    background-color: var(--branco);
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform .3s ease, box-shadow .3s ease;
    max-width: 330px;
    position: relative;
}

.card-produto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    width: 100%;
    background: linear-gradient(90deg, var(--verde-principal), var(--verde-medio));
}

.card-produto:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.images-cards-container {
    background: linear-gradient(to right, #1B1A18, #151513);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    transition: transform .4s ease;
    position: relative;
}

.images-cards-container img:hover {
    transform: scale(1.1);
}

.images-cards-container img {
    width: 180px;
    height: auto;
    transition: transform .3s ease;
}

#card_image-700::before {
    content:"Mais vendido!";
    background-color: #ffeb3b;
    color: var(--cinza-escuro);
    font-weight: 700;
    border-radius: 8px;
    padding: 8px 20px;
    display: inline-block;
    width: fit-content;
    margin-top: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.253);
    position: absolute;
    top: -20px;
    left: -20px;
}

#card_image-500::before {
    content:"Mais recomendado para iniciantes!";
    background-color: #ffeb3b;
    color: var(--cinza-escuro);
    font-weight: 700;
    border-radius: 8px;
    padding: 8px 20px;
    display: inline-block;
    width: fit-content;
    margin-top: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.253);
    position: absolute;
    top: -20px;
    left: -20px;
}

.card-produto:hover img {
    transform: scale(1.1);
}

.content-cards {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content-cards h3 {
    font-size: 1.5rem;
    color: var(--verde-escuro);
}

.content-cards p {
    font-size: 1rem;
    color: var(--preto-suave);
    line-height: 1.4;
}

.preco {
    background-color: #ffeb3b;
    color: var(--cinza-escuro);
    font-weight: 700;
    border-radius: 8px;
    padding: 8px 20px;
    display: inline-block;
    width: fit-content;
    margin-top: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
}

.btn-produto {
    background: linear-gradient(90deg, var(--verde-principal), var(--verde-medio));
    color: var(--branco);
    border: none;
    border-radius: 10px;
    padding: 14px 20px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 15px;
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.btn-produto:hover {
    background: linear-gradient(90deg, #00b84d, #17a64f);
    transform: translateY(-2px);
}



@media screen and (max-width: 826px) {

    .navbar #lista_1 {
        display: none;
    }

    #menu-hamburguer {
        display: inline-flex;
    }
}

@media screen and (max-width: 500px) {
    #marca {
        font-size: 1.5rem;
    }

    #logo-nav {
        width: 40px;
    }

    #navbar {
        height: 250px;
    }
}

@media screen and (max-width: 425px) {
    body {
        margin-top: 75px;
    }
}