/*Beneficios*/

#beneficios {
    margin: 100px 0 150px 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#text_section {
    text-align: center;
    margin-bottom: 70px;
    font-size: 2.6rem;
}

#cards_bene_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

.cards-beneficios {
    background: linear-gradient(135deg, #A7F3D0 0%, #D1FAE5 100%);
    color: var(--preto-suave);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding: 25px 20px;
    min-height: 200px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards-beneficios:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 1px 8px 20px rgba(148, 255, 193, 0.574);
}

.cards-beneficios h3 {
    font-size: 2.5em;
}

.cards-beneficios h4 {
    color: var(--cinza-escuro);
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--font-titulos);
}

.cards-beneficios p {
    font-family: var(--font-textos);
    color: var(--preto-suave);
}
