#cabecalho {
    background-color: var(--verde-principal);
    color: var(--branco);
    padding: 10px 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.251);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#container-logo-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: var(--branco);
    border-radius: 50%;
}

#marca-container {
    display: flex;
    flex-direction: row;
}

#marca {
    font-size: 1.8rem;
}

#logo-nav {
    width: 50px;
    height: auto;
}

.link-nav {
    color: var(--branco);
    text-decoration: none;
    font-weight: 600;
    position: relative;
    padding: 8px 0;
    transition: color 0.3s ease;
}

.link-nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--branco);
    transition: width 0.3s ease;
}

.link-nav:hover::after {
    width: 100%;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
    flex-wrap: wrap;
    margin-right: 50px;
}

.navbar li {
    transition: transform .2s;
}

.navbar li:hover {
    transform: translateY(1px);
}

#btn-carrinho {
    margin-left: 60px;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #FFFF00;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.248);
    transition: transform .2s ease, box-shadow .2s ease;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1;
}

#btn-carrinho:hover {
    transform: scale(1.1);
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.495);
}

#carrinho_icon {
    display: inline-block;
}

@keyframes carrinhoSaindo {
    0% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(200px);
        opacity: 0;
    }

    60% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
}

#carrinho_icon.ativo {
    animation: carrinhoSaindo 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-hamburguer-content {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0px, 0px);
    width: 100%;
    padding: 10px 15px;
    background-color: var(--verde-principal);
    display: none;
    transition: transform 1s ease;
}

.menu-hamburguer-content.ativo {
    display: block;
    transform: translateY(59px);
}

.menu-hamburguer-content ul {
    gap: 30px;
}

#menu-hamburguer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
    cursor: pointer;
    margin-left: auto;
    display: none;
}

.bars{
    width: 30px;
    height: 4px;
    background-color: var(--branco);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.434);
    z-index: 10;
    pointer-events: none;
    transition: opacity .3s ease;
    opacity: 0;
}

#overlay.ativo {
    pointer-events: all;
    opacity: 1;
}