#cart {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    margin-top: 90px;
    position: relative;
}

#cart h2 {
    margin-bottom: 50px;
    font-size: 1.9rem;
}

.close-cart {
    position: absolute;
    right: 30px;
    top: 20px;
    background: #e62143;
    border-radius: 11px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    pointer-events: none;
    display: flex;
    font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
    font-size: .9em;
    font-weight: 700;
    justify-content: center;
    line-height: 33.4929px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    text-underline-offset: 1px;
    transition: all .3s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 150px;
    height: 35px;
    word-break: break-word;
    border: 0;
    opacity: 0;
}

.close-cart.active {
    opacity: 1;
    pointer-events: all;
}

.close-cart:active,
.close-cart:focus {
    border-bottom-style: none;
    border-color: #dadada;
    box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
    outline: 0;
}

.close-cart:hover {
    border-bottom-style: none;
    border-color: #dadada;
}

#checkout-btn {
    appearance: none;
    backface-visibility: hidden;
    background-color: #2f80ed;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    margin: auto;
    margin-top: 20px;
}

#checkout-btn:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

#checkout-btn:hover:after {
    opacity: .5;
}

#checkout-btn:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .2s;
}

#checkout-btn:active:after {
    opacity: 1;
}

#cart-items {
    min-height: 300px;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    position: relative;
}

#empty-cart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#empty-cart h3,
#empty-cart i {
    font-size: 1.6rem;
    margin-top: 20px;
    color: #00000098;
}

@media (min-width: 768px) {
    #checkout-btn {
        padding: 14px 22px;
        width: 176px;
    }
}