#contato {
    text-align: center;
    background: linear-gradient(135deg, var(--verde-principal), var(--verde-medio));
    color: var(--branco);
    padding: 30px;
    min-height: 400px;
    height: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

#contato h3 {
    font-size: 2.4rem;
    font-family: var(--font-titulos);
}

#contato p {
    font-size: 1.2rem;
}

#btn-contato {
    width: 200px;
    margin-top: 30px;
    text-decoration: none;
    display: flex;
}

.btns-contato {
    border: none;
    background-color: var(--branco);
    color: var(--cinza-escuro);
    font-weight: 700;
    padding: 15px;
    border-radius: 2px;
    cursor: pointer;
    transition: transform .4s ease, color .4s ease, background-color .4s ease, box-shadow .4s ease;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.25);
}

#container-info {
    display: flex;
    margin-left: auto;
    gap: 30px;
    margin-top: auto;
}

#container-info a {
    text-decoration: none;
    font-weight: 600;
    color: var(--branco);
}

#btn-contato:hover {
    background-color: #ece5dd;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.45);
}

#btn_email {
    padding: 12px 15px;
}

#btn_email:hover {
    transform: translateY(2px);
    box-shadow: 0 -3px 15px rgba(0, 0, 0, 0.35);
}