/*PARTE DO HERO*/

.hero {
    background: linear-gradient(135deg, var(--cinza-escuro) 50%, var(--preto-suave) 50%);
    padding: 30px;
    display: flex;
    height: 70vh;
}

.hero-content {
    color: var(--branco);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#hero_text_energyMax {
    color: var(--verde-principal);
    animation: glow 2s infinite;
    font-size: 2.8rem;
}

@keyframes glow {
    0%, 100% {
        text-shadow: 
            0 0 10px var(--verde-medio),
            0 0 20px rgba(34, 197, 94, 0.5);
    }
    50% {
        text-shadow: 
            0 0 20px var(--verde-medio),
            0 0 30px rgba(34, 197, 94, 0.8),
            0 0 40px rgba(34, 197, 94, 0.4);
    }
}

.hero-content p {
    font-size: 1.2rem;
}

.cta-comprar {
    border: none;
    background-color: var(--verde-principal);
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: auto;
    display: block;
    text-decoration: none;
    color: var(--branco);
    text-align: center;
    font-weight: 700;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.253);
    transition: background-color .3s ease, transform .2s ease;
}

.cta-comprar:hover {
    background-color: #009940;
    transform: translateY(-2px);
}

.hero-image {
    margin-left: auto;
}