@media screen and (max-width: 826px) {

    .navbar #lista_1 {
        display: none;
    }

    #menu-hamburguer {
        display: inline-flex;
    }

    .hero {
        flex-direction: column;
        height: 400px;
        gap: 30px;
    }

    .cta-comprar {
        margin-top: auto;
    }

    .hero-image {
        display: none;
    }


}

@media screen and (max-width: 500px) {
    #marca {
        font-size: 1.5rem;
    }

    #logo-nav {
        width: 40px;
    }

    #navbar {
        height: 250px;
    }
}

@media screen and (max-width: 425px) {
    body {
        margin-top: 60px;
    }
}