/*Produtos*/

#produtos_section {
    background: linear-gradient(180deg, var(--fundo-suave) 0%, #FAFAFA 100%);
    color: var(--preto-suave);
    padding: 80px 20px;
    text-align: center;
}

.section-title h2 {
    font-family: var(--font-titulos);
    font-size: 2.9rem;
    color: var(--verde-escuro);
    margin-bottom: 10px;
}

.section-title p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
}

#produtos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px;
    justify-items: center;
    background: none;
    padding: 20px;
}

.card-produto {
    background-color: var(--branco);
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform .3s ease, box-shadow .3s ease;
    max-width: 330px;
    position: relative;
}

.card-produto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    width: 100%;
    background: linear-gradient(90deg, var(--verde-principal), var(--verde-medio));
}

.card-produto:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.images-cards-container {
    background: linear-gradient(to right, #1B1A18, #151513);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    transition: transform .4s ease;
    position: relative;
}

.images-cards-container img:hover {
    transform: scale(1.1);
}

.images-cards-container img {
    width: 180px;
    height: auto;
    transition: transform .3s ease;
}

#card_image-700::before {
    content:"Mais vendido!";
    background-color: #ffeb3b;
    color: var(--cinza-escuro);
    font-weight: 700;
    border-radius: 8px;
    padding: 8px 20px;
    display: inline-block;
    width: fit-content;
    margin-top: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.253);
    position: absolute;
    top: -20px;
    left: -20px;
}

#card_image-500::before {
    content:"Mais recomendado!";
    background-color: #ffeb3b;
    color: var(--cinza-escuro);
    font-weight: 700;
    border-radius: 8px;
    padding: 8px 20px;
    display: inline-block;
    width: fit-content;
    margin-top: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.253);
    position: absolute;
    top: -20px;
    left: -20px;
}

.card-produto:hover img {
    transform: scale(1.1);
}

.content-cards {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content-cards h3 {
    font-size: 1.5rem;
    color: var(--verde-escuro);
}

.content-cards p {
    font-size: 1rem;
    color: var(--preto-suave);
    line-height: 1.4;
}

.preco {
    background-color: #ffeb3b;
    color: var(--cinza-escuro);
    font-weight: 700;
    border-radius: 8px;
    padding: 8px 20px;
    display: inline-block;
    width: fit-content;
    margin-top: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
}

.btn-produto {
    background: linear-gradient(90deg, var(--verde-principal), var(--verde-medio));
    color: var(--branco);
    border: none;
    border-radius: 10px;
    padding: 14px 20px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 15px;
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.btn-produto:hover {
    background: linear-gradient(90deg, #00b84d, #17a64f);
    transform: translateY(-2px);
}