@import url(beneficios.css);
@import url(produtos.css);
@import url(hero.css);
@import url(cabecalho.css);
@import url(depoimentos.css);
@import url(contato.css);
@import url(windowContato.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-principal: #00C853;
    --verde-escuro: #14532D;
    --verde-medio: #22C55E;
    --verde-claro: #A7F3D0;
    --fundo-suave: #e9ffef;
    --cinza-escuro: #212121;
    --branco: #ffffff;
    --preto-suave: #333333;

    --font-titulos: 'montserrat', sans-serif;
    --font-textos: 'open sans', sans-serif;
}

body {
    font-family: var(--font-textos);
    background-color: var(--branco);
    color: var(--preto-suave);
    margin-top: 65px;
    background-color: #FAFAFA;
}

@media screen and (max-width: 826px) {
    
    /*Hero section*/
    .navbar #lista_1 {
        display: none;
    }

    #menu-hamburguer {
        display: inline-flex;
    }

    .hero {
        flex-direction: column;
        height: 400px;
        gap: 30px;
    }

    .cta-comprar {
        margin-top: auto;
    }

    .hero-image {
        display: none;
    }
    /*Contato section*/
    #container-info {
        flex-direction: column;
        margin-left: 0;
        gap: 15px;
    }

}

@media screen and (max-width: 500px) {
    #marca {
        font-size: 1.5rem;
    }

    #logo-nav {
        width: 40px;
    }

    #navbar {
        height: 250px;
    }
}

@media screen and (max-width: 425px) {
    body {
        margin-top: 60px;
    }
}