@import url(beneficios.css);
@import url(produtos.css);
@import url(mediaQueries.css);
@import url(hero.css);
@import url(cabecalho.css);
@import url(depoimentos.css);
@import url(contato.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-principal: #00C853;
    --verde-escuro: #14532D;
    --verde-medio: #22C55E;
    --verde-claro: #A7F3D0;
    --fundo-suave: #e9ffef;
    --cinza-escuro: #212121;
    --branco: #ffffff;
    --preto-suave: #333333;

    --font-titulos: 'montserrat', sans-serif;
    --font-textos: 'open sans', sans-serif;
}

body {
    font-family: var(--font-textos);
    background-color: var(--branco);
    color: var(--preto-suave);
    margin-top: 65px;
    background-color: #FAFAFA;
}