@import url(beneficios.css);
@import url(produtos.css);
@import url(hero.css);
@import url(cabecalho.css);
@import url(depoimentos.css);
@import url(contato.css);
@import url(windowContato.css);
@import url(cart.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-principal: #00C853;
    --verde-escuro: #14532D;
    --verde-medio: #22C55E;
    --verde-claro: #A7F3D0;
    --fundo-suave: #e9ffef;
    --cinza-escuro: #212121;
    --branco: #ffffff;
    --preto-suave: #333333;

    --font-titulos: 'montserrat', sans-serif;
    --font-textos: 'open sans', sans-serif;
}

body {
    font-family: var(--font-textos);
    background-color: var(--branco);
    color: var(--preto-suave);
    margin-top: 65px;
    background-color: #f4f4f4;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.434);
    z-index: 10;
    pointer-events: none;
    transition: opacity .3s ease;
    opacity: 0;
}

#overlay.ativo {
    pointer-events: all;
    opacity: 1;
}

/*Páginas*/

#home, #cart, #checkout {
    display: none;
}

.active {
    display: block !important;
}

@media screen and (max-width: 826px) {

    /*Hero section*/
    .navbar #lista_1 {
        display: none;
    }

    #menu-hamburguer {
        display: inline-flex;
    }

    .hero {
        flex-direction: column;
        height: 400px;
        gap: 30px;
    }

    .cta-comprar {
        margin-top: auto;
    }

    .hero-image {
        display: none;
    }

    /*Contato section*/
    #container-info {
        flex-direction: column;
        margin-left: 0;
        gap: 15px;
    }

    /*Janela de formulário*/

    #contato-form {
        width: 100%;
    }

    #content {
        display: none;
    }
}

@media screen and (max-width: 810px) {
    #cart {
        width: 100%;
    }

    .qnt-container {
        width: 130px;
        height: 39px;
    }

    .menos {
        font-size: 1.2rem;
    }

    .mais {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    #checkout-btn {
        padding: 14px 22px;
        width: 176px;
    }
}

@media screen and (max-width: 500px) {
    #marca {
        font-size: 1.5rem;
    }

    #logo-nav {
        width: 40px;
    }

    #navbar {
        height: 250px;
    }

    #cabecalho {
        padding: 11px 12px;
    }

    #marca {
        font-size: 1.3rem;
    }

    #menu-hamburguer {
        padding: 8px;
    }

    .bars {
        width: 20px;
        height: 3px;
    }

    /*Contato section*/

    /*Janela de formulário*/

    #form-window {
        width: 98%;
        padding: 30px;
    }

    #contato-form {
        width: 100%;
    }

    #window_success, #window_failed {
        width: 350px;
        height: 320px;
    }

    /* item carrinho */

    .items {
        flex-direction: column;
        height: auto;
    }

    .items img {
        margin: auto;
    }

    .items h3 {
        text-align: center;
        margin-top: 20px;
    }

}

@media screen and (max-width: 425px) {
    body {
        margin-top: 60px;
    }
}