#form-window {
    display: flex;
    position: fixed;
    top: 54%;
    left: 50%;
    transform: translate(-200%, -50%);
    background: linear-gradient(135deg, #ffffff 50%, #e2e2e2);
    padding: 35px 50px;
    width: 70%;
    min-height: 600px;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    transition: transform 0.5s ease-out;
    z-index: 10;
}

#form-window.active {
    transform: translate(-50%, -50%);
}

#form-window h3 {
    font-size: 1.6rem;
    margin-bottom: auto;
}

#close_btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: transform .2s ease;
}

#close_btn:hover {
    transform: rotate(10deg);
}

#content {
    padding-left: 20px;
    margin-top: 30px;
}

#content p {
    font-size: 1.5rem;
    text-align: center;
}

#content span {
    color: #24da1e;
    text-shadow: 0 1px 7px rgba(0, 0, 0, 0.019);
}

.typewriter {
    display: inline-block;
    overflow: hidden;
    border-right: .13em solid black;
    white-space: nowrap;
    width: 0;
}

#form-window.active .typewriter {
    animation: typing 3s steps(10) forwards, blink 0.6s step-end infinite;
}

.typewriter-wrapper {
  display: inline-block;
  width: 10ch;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 10ch
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

/*Formulario*/

#contato-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    width: 55%;
}

#contato-form h3 {
    margin-bottom: auto;
}

#contato-form input,
textarea {
    padding: 7px;
    border: 1.6px solid var(--cinza-escuro);
    border-radius: 3px;
    font-family: 'Open-Sans', sans-serif;
    font-size: 1rem;
}

#contato-form textarea {
    height: 250px;
    max-height: 300px;
    min-height: 150px;
    max-width: 100%;
    min-width: 100%;
}

#contato-form button {
    padding: 20px;
    font-weight: 550;
    border: none;
    border-radius: 3px;
    background-color: #24da1e;
    color: white;
    font-size: 1rem;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15)
}

#contato-form button:hover {
    background-color: #1db018;
}

#btn_send:disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.7;
    pointer-events: none;
}

/*Check window*/

#window_success,
#window_failed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--branco);
    border-radius: 30px;
    width: 400px;
    min-height: 300px;
    height: auto;
    padding: 25px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    pointer-events: none;
    display: none;
    transition: opacity .4s ease;
    z-index: 10;
}

#window_success h3,
#window_failed h3 {
    font-size: 1.4rem;
    font-weight: 900;
    margin: 30px;
}

#window_success.active,
#window_failed.active {
    animation: bounce-window .6s ease forwards;
    display: block;
}

@keyframes bounce-window {
    0% {
        transform: translate(-50%, -50%) scale(0.3);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.3);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

#circle_check {
    background-color: #24da1e;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    margin: auto;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    animation: bounce-check .6s .2s ease forwards;
}

@keyframes bounce-check {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#bar_one-check {
    position: absolute;
    top: 40%;
    left: 23%;
    background-color: var(--branco);
    width: 0;
    height: 12px;
    border-radius: 50px;
    transform: rotate(45deg);
    animation: bar_one_grow .4s .4s ease forwards;
    transform-origin: left center;
    z-index: 1;
}

@keyframes bar_one_grow {
    from {
        width: 0;
    }

    to {
        width: 65px;
    }
}

#bar_two-check {
    position: absolute;
    top: 71%;
    left: 51%;
    background-color: whitesmoke;
    height: 12px;
    width: 0;
    border-radius: 50px;
    transform: rotate(-65deg);
    transform-origin: left center;
    animation: bar_two_grow 0.5s ease forwards;
    animation-delay: .8s;
}

@keyframes bar_two_grow {
    from {
        width: 0;
    }

    to {
        width: 87px;
    }
}

/*Failed window*/

#window_failed h3 {
    margin: 0;
    margin-top: 5px;
}

#circle_failed {
    background-color: #d32f2f;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    margin: auto;
    margin-top: 10px;
    position: relative;
    z-index: 3;
    animation: bounce-check .6s .2s ease forwards;
}

#bar_one-failed {
    position: absolute;
    top: 25%;
    left: 28%;
    background-color: var(--branco);
    width: 0;
    height: 12px;
    border-radius: 50px;
    transform: rotate(45deg);
    animation: bar_one_grow-failed .4s .4s ease forwards;
    transform-origin: left center;
    z-index: 1;
}

@keyframes bar_one_grow-failed {
    from {
        width: 0;
    }

    to {
        width: 90px;
    }
}

#bar_two-failed {
    position: absolute;
    top: 68%;
    left: 28%;
    background-color: whitesmoke;
    width: 0;
    height: 12px;
    border-radius: 50px;
    transform: rotate(-45deg);
    transform-origin: left center;
    animation: bar_two_grow-failed 0.5s ease forwards;
    animation-delay: .8s;
}

@keyframes bar_two_grow-failed {
    from {
        width: 0;
    }

    to {
        width: 90px;
    }
}

#window_failed p {
    font-size: .6rem;
    margin-top: 10px;
    font-weight: 600;
}