#form-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -50%); 
  background-color: whitesmoke;
  padding: 35px 50px;
  width: 70%;
  min-height: 600px;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  transition: transform 0.5s ease-out;
  z-index: 10;
}

#form-window.active {
  transform: translate(-50%, -50%); 
}

#form-window h3 {
    font-size: 1.6rem;
    margin-bottom: auto;
}

/*Formulario*/

#contato-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    width: 55%;
}

#contato-form h3 {
    margin-bottom: auto;
}

#contato-form input, textarea {
    padding: 7px;
    border: 1.6px solid var(--cinza-escuro);
    border-radius: 3px;
    font-family: 'Open-Sans', sans-serif;
    font-size: 1rem;
}

#contato-form textarea {
    height: 250px;
    max-height: 300px;
    min-height: 150px;
    max-width: 100%;
    min-width: 100%;
}

#contato-form button {
    padding: 20px;
    font-weight: 550;
    border: none;
    border-radius: 3px;
    background-color: #24da1e;
    color: white;
    font-size: 1rem;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15)
}

#contato-form button:hover {
    background-color: #1db018;
}

#btn_send:disabled{
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.7;
  pointer-events: none;
}